
<!DOCTYPE html>
<html>
<head>
	<title>Your Title</title>
</head>
<body>
<h1> The title </h1>
  <img src="https://93d2da03-9140-433b-95ca-381afb6a1f70-00-3nr1shn2d60d8.pike.replit.dev/static/439636.jpg"></img>
  <h2> so the description</h2>
  <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae sem in erat pharetra accumsan. Proin auctor bibendum nunc, eget imperdiet lorem. Maecenas id viverra justo. Duis sodales auctor leo, at sagittis dui suscipit et. Fusce ac nisi ut magna dapibus finibus a sit amet ligula. Nam imperdiet sapien nec pulvinar placerat. Donec nec lacus eu dolor consequat gravida.
  </p>
</body>
</html>