<!DOCTYPE html>
<html>

<head>
    <title>Career-Crafters-Hub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner{
        width: 100%;
        height: 60vh;
        object-fit: cover;
      }
      .apply:active{
        transform:scale(0.85);
        transition:0.2s;
      }
    </style>
</head>

<body>
  <div class="container">
    <h1 class="text-center mt-2 mb-4" > {{company_name}} </h1>
    <img class="img-fluid" id="banner"
        src="https://93d2da03-9140-433b-95ca-381afb6a1f70-00-3nr1shn2d60d8.pike.replit.dev/static/439636.jpg"></img>
    <h2 class="text-center mt-2 mb-4" >The Description</h2>
    <p class="lead" >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae sem in erat pharetra accumsan. Proin
        auctor bibendum nunc, eget imperdiet lorem. Maecenas id viverra justo. Duis sodales auctor leo, at sagittis dui
        suscipit et. Fusce ac nisi ut magna dapibus finibus a sit amet ligula. Nam imperdiet sapien nec pulvinar
        placerat. Donec nec lacus eu dolor consequat gravida.
    </p>
    <h1 class="text-center mt-2 mb-4" >Positions Open</h1>
    <p>TODO-Show the Jobs here
    {% for job in jobs %}
    {% include 'jobitem.html' %}
    {% endfor %}
    </p>
    <div class="text-center">
      <button type="button" class="btn btn-primary">Contact us </button>
      <p>Copy right 2022</p>
    </div>
  </div>
</body>
  
</html>