<style>
  }
  .apply:active{
    transform:scale(0.95);
    transition:all 0.5s ease in out;
  }
</style>
<nav class="navbar fixed-top bg-body-tertiary sshadow-sm ">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class=" apply form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<div style="height:56px"></div>
